body {
    background-color: rgb(236, 255, 198);
}

h1 {
    text-align: center;
    color: rgb(89, 0, 255);
}

h2 {
    line-height: 0px;
}

h4 {
    font-size: 20px;
    color: rgb(255, 0, 119);
    line-height: 10%;
    text-align: center;
    width: 250px;
}

img {
    width: 205px;
    height: 205px;
    margin: 12px;
    background: rgb(139, 123, 123);
    padding: 13px;
    border-radius: 5px;
    display: block;
}

li {
    text-align: center;
    display: inline-block;
}